{% extends "layout.html.twig" %}

{% block title %}Library{% endblock %}

{% block content %}

<div id="app">
    <main class="main-default">
        <div class="container">
            <searchbar></searchbar>
            <searchbar-results></searchbar-results>
        </div>
    </main>
</div>

{% endblock %}
