<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
       

        {% block styles %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
            {{ encore_entry_link_tags("app") }} 
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}

        

        {% block javascript %}
            <script>            
                {% if app.user %}
                    let user = {
                        username: "{{ app.user.username }}"
                    }
                {% endif %}
            </script>
        {% endblock %}
        {{ encore_entry_script_tags("app") }}
        


    </body>
</html>
