{% extends "base.html.twig" %}


{% block body %}


{% include "_main_nav.html.twig" %}



{% block content %}{% endblock %}

<footer class="footer">
        <p style="text-align:center;font-size:2em; margin:0;">Footer</p>
</footer>


{% endblock %}



{% block javascript %}
{{ parent() }}
{% endblock %}